<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wepindia.pos"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Permissions required for MSwipe Integration -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.mswipetech.wisepad.sdktest.view.ApplicationData"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeWep"
        tools:replace="android:icon,android:label">

        <!-- android:theme="@style/custom_title_theme" -->


        <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_l35hnbVK4OKd8J" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".OwnerDetailsActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ConfigurationActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VoucherActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".KOTModifierActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StatusActivity_unused"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".KOTStatusActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TableStatusActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TableBookingActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".PaymentReceiptActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CustomerDetailActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EmployeeActivity_Unused"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ItemManagementActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".FilePickerActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".StockActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MasterActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TenderActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".BillingScreenActivity_Unused"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppThemeWep"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".BillingHomeDeliveryActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppThemeWep"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".BillingDineInActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppThemeWep"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".TableActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplitBillActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TableShiftMergeActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ModifyKOTActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CustomerOrdersActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DeliveryActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RiderSettlementActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AddRolesActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserManagementActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!-- Components required for MSwipe Integration Start -->

        <activity
            android:name="com.mswipetech.wisepad.payment.PaymentActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.mswipetech.wisepad.payment.MSwipePaymentActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.mswipetech.wisepad.payment.PasswordChangeActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="com.mswipetech.wisepad.sdktest.util.PrinterConnectionService" />
        <!-- Components required for MSwipe Integration end -->

        <activity
            android:name=".UploadFilePickerActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PayBillActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TaxConfigSubActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".GST.GSTHomeActivity" />
        <activity android:name=".GST.GSTR1_Activity" />
        <activity android:name=".GST.GSTR1_b2b_Activity" />
        <activity android:name=".GST.GSTR1_b2c_Activity" />
        <activity android:name=".GST.GSTR2_Activity" />
        <activity android:name=".GST.GSTR2_tables_Activity" />
        <activity android:name=".GST.GSTR_reconcile_Activity" />
        <activity
            android:name=".GST.Inward_Item_Entry_Activity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".GST.AmmendActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GST.Ammend_b2cs_gstr1"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".GST.Ammend_b2b_GSTR2"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".GST.InwardInvoiceEntry_Activity"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".GST.GSTConfiguration_Activity"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".GSTLinkActivity_Unused"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".GST.GSTFileActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".GST.CreditDebitActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Inward_Item_Entry_nonGST_Activity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".IngredientManagementActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppThemeWep"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".ConvertIngredientActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".PrintIngredients"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Design.Light.BottomSheetDialog"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".GoodsInwardNoteActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".PurchaseOrderActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppThemeWep"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <service
            android:name="com.gprinter.service.GpPrintService"
            android:enabled="true"
            android:exported="true"
            android:label="GpPrintService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.gprinter.aidl.GpPrintService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.wepindia.printers.sohamsa.DeviceListActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.wepindia.printers.heydey.PrinterFragment"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.wepindia.printers.heydey.BluetoothDeviceList"
            android:screenOrientation="sensorLandscape"
            />
        <activity
            android:name="com.wepindia.printers.sohamsa.PrinterSohamsaActivity"
            android:screenOrientation="sensorLandscape" />

        <receiver android:name="com.wepindia.printers.heydey.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.wepindia.printers.MainActivity" />
        <activity
            android:name=".TabbedReportActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".TabbedSettingsActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name="com.mswipetech.wisepad.sdktest.view.TransactionActivity" />
        <activity
            android:name=".BillingCounterSalesActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppThemeWep"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".TabbedSupplierItemLinkage"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".TabbedCreditDebitNote"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".TabbedAmmendActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".InwardActivity"
            android:screenOrientation="sensorLandscape"
             />
        <activity
            android:name=".SupplierDetailsActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">

        </activity>
        <activity
            android:name=".InwardItemActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">

        </activity>
        <activity
            android:name=".ItemSupplierLinkageActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">

        </activity>
    </application>

</manifest>